.note{
    height: fit-content;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1.5rem;
        .title{
            background-color: rgb(61, 27, 61);
            color: #fff;
            width: fit-content;
            padding: 0.5rem 1rem;
            border-radius: 20px;
        }
        p{
            line-height: 23px;
        }
    }
    .container__buttons{
        display: flex;
        justify-content: center;
        button{
            width: 100%;
            padding: 0.5rem 0px;
            color: #fff;
        }
        .btn__mod{
            background-color: rgb(61, 27, 61);
            border-bottom-left-radius: 0.5rem;
            &:hover{background-color: rgb(61, 27, 61, 0.7);}
        }
        .btn__delete{
            background-color: rgb(213,95, 28);
            border-end-end-radius: 0.5rem;
            &:hover{background-color: rgb(213,95, 28, 0.7);}
        }
    }
}
