.container__modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(122, 101, 101, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal{
        width: 40%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1.5rem;
        background-color: white;
        border-radius: 0.5em;
        input{
            padding: 6px;
        }
        textarea{
            height: 10rem;
            resize: none;
            padding: 0.5rem;
            outline: none;
            font-weight: bold;
        }
        .buttons__modal{
            display: flex;
            justify-content: center;
            gap: 2rem;
            button{
                color: #fff;
                padding: 0.5rem 1rem;
                font-weight: bold;
            }
            .btn__cancel__modal{
                background-color:  rgb(61, 27, 61);
            }
            
            .btn__confirm__modal{
                background-color:  rgb(213,95, 28);
            }     
        }
    }
}
